// @import '~bootstrap/scss/bootstrap';
// development optimization - compiling bootstrap's entire SASS every time slows down fast refresh on .scss edit
// and styles will not be customized in this project anyway
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
